.pointer {
    cursor: pointer;
}

.icon {
    padding-top: 10px;
    filter: invert(1);
}

.assistant {
    border-radius: 10px;
    padding: 1em;
    padding-bottom: 1.5;
    background-color: #ffffff;
    width: 80%;
    margin-right: auto;
    font-weight: bold;
    margin-bottom: 25px;
}

.user {
    border-radius: 10px;
    padding: 1em;
    padding-bottom: 1.5;
    background-color: #30CEBB;
    width: 80%;
    margin-left: auto;
    color: white;
    font-weight: bold;
    margin-bottom: 25px;
}

.container:hover {
    background-color: rgba(255, 255, 255, 0.154);
    border-radius: 100px;
    margin-bottom: 10px;
}

.chat {
    padding: 1em;
    position: fixed;
    width: 400px;
    height: 600px;
    overflow-y: hidden;
    overflow-x: hidden;
    border: 1px solid rgb(178, 175, 175);
    padding: 10px;
    display: none;
    z-index: 9999;
    background-color: #f3f2f2;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.chatThreadContainer {
    height: 90%;
    overflow-y: scroll;
}

.reset {
    margin-top: 25px;
}

.reset span {
    font-size: 8pt;
    cursor: pointer;
    text-decoration: underline;
    color: blue;
}

.chatThreadContainer::-webkit-scrollbar {
    width: 0;
    /* Hide scrollbar for WebKit-based browsers */
}

.krew {
    background-color: white;
    border-radius: 100%;
    width: 20%;
    /* border: 1px solid black; */
    margin-bottom: 35px;
}

.krew img {
    margin-left: 10px;
    width: 75%;
}

.loading {
    display: block;
    text-align: center;
}

.loading img {
    display: inline-block;
    width: 35%;
}

.textInputContainer {
    height: 10%;
    width: 100%;
    position: absolute;
    display: grid;
    grid-template-columns: 80% 20%;
    margin-bottom: 10px;
}

.contextPickerContainer div {
    border-radius: 1px solid black;
    border-radius: 5px;
    background-color: white;
    padding: .5em;
    display: inline-block;
    text-transform: capitalize;
    margin-right: 1em;
    margin-bottom: 1em;
    cursor: pointer;
}

.contextPickerContainer div:hover {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}

.contextPickerContainer {
    height: 10%;
    width: 100%;
    position: absolute;
    grid-template-columns: 80% 20%;
    margin-bottom: 10px;
}

.textInput {
    border: 1px solid #30CEBB;
    padding: 1em;
    border-radius: 15px;
}

.textInputButton {
    background-color: #0E877E;
    border-radius: 100%;
    width: 45px;
    height: 45px;
    padding: 10px;
    cursor: pointer;
    margin: auto;
}

.textInputButton img {
    filter: invert(1);
    width: 95%;
    display: block;
    margin: auto;
}

.fade-in {
    opacity: 0;
    /* Set initial opacity to 0 */
    animation: fadeIn .25s ease-in-out forwards;
    /* Use the "fadeIn" animation, which lasts for 1 second, has an ease-in-out timing function, and fills forwards */
}

@keyframes fadeIn {
    from {
        opacity: 0;
        /* At the start of the animation, set opacity to 0 */
    }

    to {
        opacity: 1;
        /* At the end of the animation, set opacity to 1 */
    }
}